<html>
<head>
	<title>ART</title>
	<link rel="stylesheet" href="" th:href="@{/css/art.css}"/>
</head>
<body>
	<h1>ART</h1>
	<br><br>
	<h2>
		Craftwork is a practical form of art, a social and cultural product reflecting the inclusive nature of flock imagination. It has some special features. Craftworks are made by unknown craftsmen. They do not bear the sing of their makers. Individual creativity and community aesthetics are engaged in different types of crafts like woodcrafts, jewelry, pottery, embroidery, etc.
		<br><br>
		There are two types of craftworks. They are handmade and machine-made craftworks. The difference between them is many. Machine-made is cheaper than handcraft. Craftwork plays a great role in promoting crafts. We have a lot of craftworks. The nokshikantha is very remarkable of craftworks. The nokshikantha is so beautifully embroidered that it reflects the rural people's lifestyle and their culture.</h2>

		<embed style="width:720px; height: 450px;" src="https://wallpaperaccess.com/full/352112.jpg"></embed>
		<embed style="width:720px; height: 450px;" src="https://wallpaperaccess.com/full/352112.jpg"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/LaxF9qT8uTc"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/2hcLN7OXCF0"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/jC7L-LRaH14"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/dWZJm5oE9uY"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/AUXkPjPArjg"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/d1YIE-3dL_w"></embed>
		
		<form action="savefile" method="post" enctype="multipart/form-data">  
               Select File: <input type="file" name="file"/>  
                  <input type="submit" value="Upload yor file below"/>  
       </form> 
       <a th:href="@{/upload}">	
	      <button class="btn btn3">Upload File</button>
	   </a>	
		
		
		

</body>
</html>