<html>
<head>
	<title>DANCE</title>
	<link rel="stylesheet" href="" th:href="@{/css/dancing.css}"/>
</head>
<body>
	<h1>DANCE</h1>
	<br><br>
	<h2>
		Dance is a performing art form consisting of sequences of movement, either improvised or purposefully selected. This movement has aesthetic and often symbolic value.Dance can be categorized and described by its choreography, by its repertoire of movements, or by its historical period or place of origin.<br>
		An important distinction is to be drawn between the contexts of theatrical and participatory dance,[5] although these two categories are not always completely separate; both may have special functions, whether social, ceremonial, competitive, erotic, martial, or sacred/liturgical. Other forms of human movement are sometimes said to have a dance-like quality, including martial arts, gymnastics, cheerleading, figure skating, synchronized swimming, marching bands, and many other forms of athletics.<br>
		dance, the movement of the body in a rhythmic way, usually to music and within a given space, for the purpose of expressing an idea or emotion, releasing energy, or simply taking delight in the movement itself.Dance is a powerful impulse, but the art of dance is that impulse channeled by skillful performers into something that becomes intensely expressive and that may delight spectators who feel no wish to dance themselves. These two concepts of the art of dance—dance as a powerful impulse and dance as a skillfully choreographed art practiced largely by a professional few—are the two most important connecting ideas running through any consideration of the subject. In dance, the connection between the two concepts is stronger than in some other arts, and neither can exist without the other.<br>
	</h2>

		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/h9ALWwF4it0"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/UWawJcxYY6I"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/b8m1Hu2E1U8"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/oqB1ZeK6ohg"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/S5fG2t4i8eI"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/j5nPt_y5ScY"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/LTFX32-s3dA"></embed>
		<embed style="width:720px; height: 450px;" src="https://www.youtube.com/embed/ta21GJsoa1I"></embed>
	
       <form action="savefile" method="post" enctype="multipart/form-data">  
               Select File: <input type="file" name="file"/>  
                  <input type="submit" value="Upload your File below"/>  
    </form>  	
	<a th:href="@{/upload}">	
	      <button class="btn btn3">Upload File</button>
	   </a>	
		

</body>
</html>