<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="" th:href="@{/css/items.css}"/>
</head>
<body>
	<div class="container">
	<img src="../static/images/image.jpg" th:src="@{images/image.jpg}" />
	<div style="display: flex; flex-direction: column">
	<a th:href="@{/dancing}">
		<button class="btn btn1">Dancing</button>
	</a>
	<a th:href="@{/art}">
	   <button class="btn btn2">Craft Making</button>
	</a>
	
	<a>
	  
	  <a th:href="@{/sing}">
	  <button class="btn btn3">Singing</button>
	</a>
	
	
	
	
	
	
	
	
		
		
		
		</div>
		
	</div>
</body>
</html>