<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Succeeded - encourage our artists</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="" th:href="@{/css/success.css}" />

</head>
<body background="suc.jpg">
    <div class="container text-center">
        <div>
          <h3>You have signed up successfully!</h3>
          <h4><a th:href="@{/login}">Click here to login</a></h4>
        </div>
        
    </div>
</body>
</html>